{% extends "core/base.html" %}
{% load static %}
{% load hooks %}
{% load i18n %}


{% block title %}Browse{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="row">
            <div class="large-8 columns border-right">
                <h3>Browse Entries</h3>
                {% hook 'journal_archive_list' %}
                {% for article in articles %}
                    {% include "elements/journal/box_article.html" with article=article %}
                {% empty %}
                    <h3>There are no articles published in this journal yet.</h3>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}