{% extends "admin/core/base.html" %}
{% load static from static %}
{% load i18n %}
{% load foundation %}

{% block title %}{% trans "Update an Article" %}{% endblock title %}

{% block body %}
    <h3>
        Article #{{ article.pk }}: {{ article.title }}
    </h3>
    <article>
        <form method="POST" action="{% url 'update_article' article.pk %}">
            <div id="content submission-content" class="box">
                {% csrf_token %}
                <fieldset>
                    <legend>Are you submitting a minor revision (typo fixes) or a major revision (content change)?</legend>
                    <div class="content submission-content">
                        <input type="radio" name="update_type" value="minor"> Minor Revision
                    </div>
                    <div class="content submission-content">
                        <input type="radio" name="update_type" value="major"> Major Revision
                    </div>
                    <button class="success button pull-right" type="submit" name="begin_revision"><i class="fa fa-check">&nbsp;</i>{% trans "Begin Revision" %}</button>
                </fieldset>
            </div>
        </form>
    </article>
{% endblock body %}
